

body {
    background-color: #333;
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
#bgpage2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#textpg1 {
    color: darkgray;
    font-family: helvetica;
    position: absolute;
    top: 10%;
    left: 27%;
    font-size: 3em;
    font-weight: 1000;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    pointer-events: none;
}

/* BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS */

#loginBtn {
    font-size: 10em;
    font-family: helvetica;
    border: 3px;
    border-style: solid;
    border-color: gray;
    border-radius: 30px;
    background: transparent;
    position: absolute;
    top: 35%;
    left: 29%;

    padding: 10px 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: backdrop-filter 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}
#loginBtn:hover {
    backdrop-filter: blur(10px);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.6);
}
#aforloginBtn {
    color: gray;
    transition: color 0.3s ease;
}
#aforloginBtn:hover {
    color: #ccc;
}

#backBtn {
    width: 35%;
    height: 25px;
    background-color: hsl(210, 13%, 50%);
    border: 1.5px;
    border-style: solid;
    border-color: #2a2a2a;
    border-radius: 7px;
    font-family: helvetica;
    position: absolute;
    left: 9.5%;
    top: 59%;
    text-shadow: 1px 0.5px 1px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    padding: 8px;
    box-sizing: border-box;
}
#backBtn:hover {
    color: darkgray;
    background-color: hsl(210, 13%, 57%);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.6);
}

#backBtnpg4 {
    width: 35%;
    height: 25px;
    background-color: hsl(210, 13%, 50%);
    border: 1.5px;
    border-style: solid;
    border-color: #2a2a2a;
    border-radius: 7px;
    font-family: helvetica;
    position: absolute;
    left: 9.5%;
    top: 79%;
    text-shadow: 1px 0.5px 1px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    padding: 8px;
    box-sizing: border-box;
}
#backBtnpg4:hover {
    color: darkgray;
    background-color: hsl(210, 13%, 57%);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.6);
}

#submitBtn {
    width: 35%;
    height: 25px;
    background-color: hsl(210, 13%, 50%);
    border: 1.5px;
    border-style: solid;
    border-color: #2a2a2a;
    border-radius: 7px;
    font-family: helvetica;   
    position:absolute;
    left: 55.3%;
    top: 59%;
    text-shadow: 1px 0.5px 1px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    padding: 8px;
    box-sizing: border-box;
}
#submitBtn:hover {
    color: darkgray;
    background-color: hsl(210, 13%, 57%);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.6);
}

#resetBtn {
    width: 35%;
    height: 25px;
    background-color: hsl(210, 13%, 50%);
    border: 1.5px;
    border-style: solid;
    border-color: #2a2a2a;
    border-radius: 7px;
    font-family: helvetica;   
    position:absolute;
    left: 55.3%;
    top: 79%;
    text-shadow: 1px 0.5px 1px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    padding: 8px;
    box-sizing: border-box;
}
#resetBtn:hover {
    color: darkgray;
    background-color: hsl(210, 13%, 57%);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.6);
}

#clickBtn {
    width: 25%;
    height: 25px;
    background-color: hsl(210, 13%, 50%);
    border: 1.5px;
    border-style: solid;
    border-color: #2a2a2a;
    border-radius: 7px;
    font-family: helvetica;
    text-shadow: 1px 0.5px 1px rgba(0, 0, 0, 1);
    cursor: pointer;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    position: absolute;
    white-space: nowrap;
    left: 37.7%;
    top: 82%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    padding: 8px;
    box-sizing: border-box;
}
#clickBtn:hover {
    color: darkgray;
    background-color: hsl(210, 13%, 57%);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.6);
}

#backBtnpg3 {
    font-size: 10em;
    font-family: helvetica;
    border: 3px;
    border-style: solid;
    border-color: gray;
    border-radius: 30px;
    background: transparent;
    position: absolute;
    top: 35%;
    left: 33.5%;

    padding: 10px 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: backdrop-filter 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}
#backBtnpg3:hover {
    backdrop-filter: blur(10px);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.6);
}
#aforbackBtnpg3 {
    color: gray;
    transition: color 0.3s ease;
}
#aforbackBtnpg3:hover {
    color: #ccc;
}

#backtologinBtn {
    font-size: 5em;
    font-family: helvetica;
    border: 3px;
    border-style: solid;
    border-color: gray;
    border-radius: 30px;
    background: transparent;
    position: absolute;
    top: 43%;
    left: 34%;
    width: 400px;
    height: 230px;

    padding: 10px 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: backdrop-filter 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}
#backtologinBtn:hover {
    backdrop-filter: blur(10px);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.6);
}
#aforbacktologinBtn {
    color: gray;
    transition: color 0.3s ease;
}
#aforbacktologinBtn:hover {
    color: #ccc;
}

/* INPUTS INPUTS INPUTS INPUTS INPUTS INPUTS INPUTS INPUTS INPUTS INPUTS INPUTS INPUTS INPUTS INPUTS INPUTS INPUTS INPUTS INPUTS INPUTS */
.Input {
    font-size: 2em;
    position: absolute;
    padding: 10px;
    margin: 10px;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    top: 25%;
    left: 5%;
}

.Inputpage4 {
    font-size: 2em;
    position: absolute;
    padding: 10px;
    margin: 10px;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    top: 30%;
    left: 5%;
}

#idusn, #idpw {
    color: slategray;
    width: 600%;
    height: 35px;
    background-color: slategray;
    border: 1.5px;
    border-color: #2a2a2a;
    border-style: solid;
    border-radius: 7px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3);
    transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.3s ease, transform 0.3s ease;
}
#idusn:hover, #idpw:hover {
    background-color: hsl(210, 13%, 57%);
    color: hsl(210, 13%, 15%);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.6);
}
#idusn::placeholder, #idpw::placeholder {
    display: inline-block;
    transform: scale(5, 5.2);
    color: slategray;
    transition: color 0.5s ease;
    font-weight: 700;
    position: absolute;
    left: 41%;
    top: 35%;
}
#idusn:hover::placeholder, #idpw:hover::placeholder {
    color: hsl(210, 13%, 15%);
}

#inputPage4pw, #inputPage4confirm {
    color: slategray;
    width: 600%;
    height: 35px;
    background-color: slategray;
    border: 1.5px;
    border-color: #2a2a2a;
    border-style: solid;
    border-radius: 7px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3);
    transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

#inputPage4pw:hover, #inputPage4confirm:hover {
    background-color: hsl(210, 13%, 57%);
    color: hsl(210, 13%, 15%);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.6);
}

#inputPage4pw::placeholder {
    display: inline-block;
    transform: scale(3.2, 5.2);
    color: slategray;
    transition: color 0.5s ease;
    font-weight: 800;
    position: absolute;
    left: 35%;
    top: 20%;
}

#inputPage4pw:hover::placeholder {
    color: hsl(210, 13%, 15%);
}

#inputPage4confirm::placeholder {
    display: inline-block;
    transform: scale(2.4, 5.2);
    color: slategray;
    transition: color 0.5s ease;
    font-weight: 800;
    position: absolute;
    left: 29%;
    top: 20%;
}

#inputPage4confirm:hover::placeholder {
    color: hsl(210, 13%, 15%);
}

/*  TEXTS TEXTS TEXTS TEXTS TEXTS TEXTS TEXTS TEXTS TEXTS TEXTS TEXTS TEXTS TEXTS TEXTS TEXTS TEXTS TEXTS TEXTS TEXTS TEXTS TEXTS */

a {
    text-decoration: none;
    color: #2a2a2a;
}
#forgottxtpg2 {
    color: #ccc;
    font-family: helvetica;
    position: absolute;
    top: 60%;
    left: 10%;
    font-size: 1.9em;
    font-weight: 1000;
    white-space: nowrap;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    pointer-events: none;
}
h2 {
    color: #ccc;
    font-family: helvetica;
    pointer-events: none;
}

#h2page2 { 
    position: absolute;
    top: 21%;
    left: 29.3%;
    font-size: 1.7em;
    font-weight: 1000;
    width: 500px;
    padding: 10px;
    text-align: center;
    z-index: 10;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    pointer-events: none;
}

#welcomeh1 {
    color: darkgray;
    font-family: helvetica;
    position: absolute;
    top: 10%;
    left: 27%;
    font-size: 3em;
    font-weight: 1000;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    pointer-events: none;
}

#ppage4 {
    color: #ccc;
    font-family: helvetica;
    position: absolute;
    top: 21%;
    left: 29.3%;
    font-size: 1.7em;
    font-weight: 1000;
    width: 500px;
    padding: 10px;
    text-align: center;
    text-shadow: 2.5px 2px 5px rgba(0, 0, 0, 1);
    pointer-events: none;
    z-index: 2;
}

#h1pg5 {
    font-family: helvetica;
    color: slategray;
    position: absolute;
    top: 10%;
    left: 21%;
    font-size: 3em;
    font-weight: 1000;
    width: 750px;
    padding: 10px;
    text-align: center;
    z-index: 10;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    pointer-events: none;
}

/* CONTAINERS */
.container {
    position: absolute;
    top: 25%;
    left: 32%; 
    border-radius: 20px;
    z-index: 1;
}
.login-box {
    position: relative;
    width:  1000%; 
    height: 300px;
    max-height: 400px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 20px;
    color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.6);
    text-align: center;
    z-index: 1;
}

.reset-box {
    position: relative;
    width:  1000%; 
    height: 200px;
    max-height: 400px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 20px;
    color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.6);
    text-align: center;
    z-index: 1;
}

button:hover {
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}
input:hover {
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}